
.background_img_container {
    background-image: url("../../../../img/background_pelouse.png"); /* tant que l'arbo interne ne change pas l'image s'affiche*/

    width: 100%;
    height: 90vh;               
    overflow: hidden;           
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;  
}

